<html>

<head>
    <title>404 Error</title>
    <link rel="stylesheet" href="../static/datastyle.css">
</head>

<body>
 
    <h1>Aurality Song Search</h1>
    <nav>
        <ul>
            <li><a href="/">Search Page</a></li>
            <!-- <li><a href="/playlist">Your Playlist</a></li> -->
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
    <div>
        <p>We lost your query in a pile of needles! Please use our homepage to filter songs by clicking the dropdown arrow for each attribute you want to filter our list of songs by, filling in your desired values for each attribute, and clicking "filter my results".<br></p>
    </div>
</body>
</html>